@model WebPhongKham.Models.BACSI

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h2>CHI TIẾT THÔNG TIN BÁC SĨ</h2>

                        <div>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.TenBS)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TenBS)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.NgaySinhBS)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.NgaySinhBS)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.GioiTinhBS)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.GioiTinhBS)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.SDTBS)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.SDTBS)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.CHUYENKHOA.TenCK)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CHUYENKHOA.TenCK)
                                </dd>

                            </dl>
                        </div>
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.BacSiID }) |
                            @Html.ActionLink("Back to List", "Index")
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>