@model WebPhongKham.Models.KEDONTHUOC

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .login-box {
        position: center;
        width: 700px;
        padding: 40px;
        background: none;
        box-sizing: border-box;
        box-shadow: 0 1px 5px rgba(0,0,0,.3);
        border-radius: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
        margin-left:300px;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <br />
    <div class="container body-content">
        <div class="login-box">
            <h2 style="color:black"><center>Kê Đơn Thuốc</center></h2><hr />
            <div>
                <form>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TenKH, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.TenKH, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TenKH, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TenBenh, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.TenBenh, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TenBenh, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                @Html.LabelFor(model => model.THUOCID, "THUOCID", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("THUOCID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.THUOCID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SoLuong, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div> <br />
                    <hr />
                    <div style="margin-left: 270px;">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-danger" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

