@model WebPhongKham.Models.DATLICH

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .login-box {
        position: center;
        width: 1300px;
        padding: 40px;
        background: none;
        box-sizing: border-box;
        box-shadow: 0 1px 5px rgba(0,0,0,.3);
        border-radius: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
    }
</style>

<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container body-content">
        <div class="login-box">
            <h2 style="color:black"><center>Đặt lịch</center></h2><hr />
            <div>
                <form>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TenKH, "Họ và tên:", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.TenKH, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TenKH, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                @Html.LabelFor(model => model.XetNghiemID, "Xét nghiệm:", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("XetNghiemID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.XetNghiemID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div><br />
                    
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                @Html.LabelFor(model => model.NgaySinh, "Ngày Sinh:", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                @Html.LabelFor(model => model.GioiTinh, "Giới tính:", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.GioiTinh, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DiaChi, "Địa chỉ:", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SDT, "Số điện thoại:", htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ChuyenKhoaID, "Chọn khoa:", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("ChuyenKhoaID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ChuyenKhoaID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <div class="col">
                            <div class="form-group">
                                @Html.LabelFor(model => model.BacSiID, "Tên bác sĩ:", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("BacSiID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.BacSiID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div> <br />
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                @Html.LabelFor(model => model.NgayKham, "Ngày khám:", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NgayKham, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NgayKham, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                @Html.LabelFor(model => model.GioKham, "Giờ khám:", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.GioKham, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.GioKham, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div style="margin-left: 570px;">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Đặt lịch" class="btn btn-danger" id="dangky">
                                <div>
                                    <script language="javascript">
                                        var button = document.getElementById("dangky");
                                        button.onclick = function () {
                                            alert("Đăng ký lịch thành công");
                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
