@model WebPhongKham.Models.DATLICH

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h2>CHI TIẾT LỊCH HẸN</h2>

                        <div>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.TenKH)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TenKH)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.NgaySinh)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.NgaySinh)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.GioiTinh)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.GioiTinh)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.DiaChi)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.DiaChi)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.SDT)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.SDT)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.MaCK)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.MaCK)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.NgayKham)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.NgayKham)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.GioKham)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.GioKham)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.BACSI.TenBS)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.BACSI.TenBS)
                                </dd>

                            </dl>
                        </div>
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.MaDLKH }) |
                            @Html.ActionLink("Back to List", "Index")
                        </p>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
