@model IEnumerable<WebPhongKham.Models.GOIKHAM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@*<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="card">
                    <div class="card-body">*@
<style>
    .form-control{
        display: initial;
        width: 20%;
    }
    .form-group{
        display: flex;
        justify-content: right;
    }
</style>
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h2>DANH SÁCH BÁC SĨ PHÒNG KHÁM</h2>
                        @using (Html.BeginForm("Index", "GOIKHAMs", FormMethod.Get, new { @class = "form-inline" }))
                        {
                            <div class="form-group">
                                <input type="Text" class="form-control" value="@ViewBag.Keyword" name="searchString" placeholder="Nhập tên gói khám cần tìm">
                                <input type="submit" class="btn btn-warning" value="Tìm">
                            </div>
                        }
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.TenGoiKham)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ChiTietGK)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ChiPhi)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Anh)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LOAIGOIKHAM.TenLoaiGoiKham)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenGoiKham)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ChiTietGK)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ChiPhi)
                                    </td>
                                    <td>
                                        <img style="height: 100px; width: 100px" src="~/Image/goikham/@item.Anh" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LOAIGOIKHAM.TenLoaiGoiKham)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.GoiKhamID }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.GoiKhamID }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.GoiKhamID })
                                    </td>
                                </tr>
                            }

                        </table>
                        <br />
                        <br />
                        <p>
                            @Html.ActionLink("Create New", "Create")
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                    
