@model WebPhongKham.Models.CHITIETDONHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CHITIETDONHANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SoLuongSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DONHANG.TenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DONHANG.TenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GOIKHAM.TenGoiKham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GOIKHAM.TenGoiKham)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CTDHID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
